<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Career Profile</h2>
<div class="summary">
    <p>My greatest strengths are undoubtedly a positive attitude I can bring to any environment, creativity and dedication to my work. I am independent and responsible, and a great team player. New challenges, opportunities to meet new people, cultures and exploring new places give me much joy. Furthermore, my varied experiences have taught me to successfully improvise and adapt to unusual and unexpected situations.

My career goal is to find creative and dynamic work that creates opportunities while allowing for self-development, and above all, self-realization.</p>
</div><!--//summary-->
</section><!--//section-->
