<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Podsumowanie</h2>
<div class="summary">
<p>Kreatywna optymistka. Silna motywacja pomaga mi w pracy indywidualnej. Pozytywne nastawienie

ułatwia pracę w zespole. Zdobyte doświadczenie pomaga w improwizacji i pozwala mi łatwo odnaleźć

się w nieszablonowych sytuacjach. Kreatywne i dynamicznie miejsce pracy umożliwiające rozwój to

moje środowisko naturalne.</p>

</div><!--//summary-->
</section><!--//section-->
