<section class="section summary-section">
<h2 class="section-title"><i class="fa fa-user"></i>Podsumowanie</h2>
<div class="summary">
<p>Kreatywna optymistka od zawsze czująca zew zero-jedynkowy postanawia spełnić swoje marzenie o programowaniu.</p>

<p>Dwumiesięczny Boot Camp CodersLab utwierdził mnie w przekonaniu, że praca z
    kodem oraz związane z nią wyzwania i możliwości sprawiają mi dużą satysfakcję.
     </p>
     <p> Szukam kreatywnego i dynamicznego miejsca pracy, które umożliwi mi dalszy rozwój
       na ścieżce Back-End Developera.</p>

</div><!--//summary-->
</section><!--//section-->
