 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree">Junior Back-End Developer</h4>
    <h5 class="meta">CodersLab</h5>
    <div class="time">2016 - 2017</div>
</div><!--//item-->
<div class="item">
  <h4 class="degree">Master's degree, Marketing &amp; Management</h4>
  <h5 class="meta">SGH Warsaw School of Economics</h5>
  <div class="time">2011 - 2013</div>
</div><!--//item-->
</div><!--//education-container-->
