<div class="interests-container container-block">
<h2 class="container-block-title-polish">Umiejętności</h2>
<ul class="list-unstyled interests-list">
<li><i class="icon-python"></i> Python &amp; Django</li>
<li><i class="icon-javascript-alt"></i> JavaScript &amp; jQuery </li>
<li><i class="fa fa-html5"></i> HTML5 </li>
<li><i class="fa fa-css3"></i> CSS</li>
<li><i class="icon-mysql-alt"></i> MySQL</li>
<li><i class="icon-shell"></i> Shell</li>



</ul>
</div><!--//interests-->

{%comment%}
<div class="education-container container-block">
<h2 class="container-block-title-polish">Wykształcenie</h2>
<div class="item">
   <h4 class="degree"><i class="fa fa-graduation-cap"></i> Programista Back-End</h4>
<div class="time">2016 - 2017</div>
<div class="meta-polish">Coders Lab</div>

   <img class="logo" src="{{site.baseurl}}/assets/images/coderslab.png"/>

</div><!--//item-->
<div class="item">

 <h4 class="degree2-polish"><i class="fa fa-graduation-cap"></i> Studia magisterskie, Kierunek: Zarządzanie</h4>
<div class="time-polish">2011 - 2013</div>
<div class="meta-polish">Szkoła Główna Handlowa w Warszawie</div>


</div><!--//item-->
</div><!--//education-container-->

{%endcomment%}
