<div class="interests-container container-block">
<h2 class="container-block-title-polish">Skills &amp; Proficiency</h2>
<ul class="list-unstyled interests-list">
<li><i class="icon-python"></i> Python &amp; Django</li>
<li><i class="icon-javascript"></i> JavaScript &amp; jQuery </li>
<li><i class="fa fa-html5"></i> HTML5 </li>
<li><i class="fa fa-css3"></i> CSS</li>
<li><i class="icon-mysql" style="color:white"></i> MySQL</li>
<li><i class="icon-shell"></i> Shell</li>


</ul>
</div><!--//interests-->
