 <div class="education-container container-block">
<h2 class="container-block-title">Education</h2>
<div class="item">
    <h4 class="degree"><i class="fa fa-graduation-cap"></i> Junior Back-End Developer</h4>
<div class="time">2016 - 2017</div>
<div class="meta">Coders Lab</div>

    <img class="logo" src="{{site.baseurl}}/assets/images/coderslab.png"/>

</div><!--//item-->
<div class="item">

  <h4 class="degree2"><i class="fa fa-graduation-cap"></i> Master's degree, Marketing &amp; Management</h4>
<div class="time">2011 - 2013</div>
<div class="meta">Warsaw School of Economics</div>


</div><!--//item-->
</div><!--//education-container-->
