<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Experiences</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Bartender/Bar Manager</h3>
                            <div class="time">2011 - 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Klaps, Warsaw</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Managed and oversaw the daily operating routines of a very popular bar in Warsaw.</p>
                        <p>Assisted with inventories, ordering, end of day reports, cash handling, menu and signature drinks development. </p>
                        <p>Mentored new employees, trained new employees to ensure consistent quality service for guests.</p>
                        <p>Gained excellent experience in customer service.</p>
                        <p>Created a fun and inviting atmosphere for guestMentored new employees, trained new employees to ensure consistent quality service for guests.</p>
</p>
                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Personal Assistant</h3>
                            <div class="time">2007 - 2010</div>
                        </div><!--//upper-row-->
                        <div class="company">Kyla Adams-Ryman, New York,NY</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Assisted in early childhood development.</p>
                        <p>Provided a fun and safe environment.</p>
                        <p>Planned, organized, and managed creative and educational activities.</p>
                        <p>Performed other tasks as assigned.</p>

                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Assistant/Jr Customer Service Representative</h3>
                            <div class="time">04.2010</div>
                        </div><!--//upper-row-->
                        <div class="company">Bond Street Chocolate, New York, NY</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Service and customer support, product promotion.</p>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
