<section class="section experiences-section">
                <h2 class="section-title"><i class="fa fa-briefcase"></i>Doświadzczenie</h2>

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Barman/Bar Manager</h3>
                            <div class="time">2011 - 2016</div>
                        </div><!--//upper-row-->
                        <div class="company">Klaps, Warszawa</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Zarządzanie pracą zespołu barmanów w popularnym lokalu -> umiejętność organizacji pracy własnej i zespołu.</p>
                        <p>Zarządzanie dostawami - > koordynowanie procesów.</p>
                        <p>Obsługa klientów - > </p>
                        <p>Organizacja wydarzeń cyklicznych i obsługa social media.</p>

                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Asystentka personalna</h3>
                            <div class="time">2007 - 2010</div>
                        </div><!--//upper-row-->
                        <div class="company">Kyla Adams-Ryman, Stany Zjednoczone, Nowy Jork</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Stworzenie i wdrożenie planu edukacji i rozwoju dziecka</p>

                    </div><!--//details-->
                </div><!--//item-->

                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Assistant/Jr Customer Service Representative</h3>
                            <div class="time">04.2010</div>
                        </div><!--//upper-row-->
                        <div class="company">Bond Street Chocolate, Stany Zjednoczone, Nowy Jork</div>
                    </div><!--//meta-->
                    <div class="details">
                        <p>Wdrożenie planu promocji produktu. Wsparcie obsługi klienta.</p>
                    </div><!--//details-->
                </div><!--//item-->

            </section><!--//section-->
