<section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-graduation-cap"></i> Wykształcenie</h2>


                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Coders Lab </h3>
                            <div class="time">2016-2017 </div>

                        </div><!--//upper-row-->
                        <div class="company">Programista Back-End</div>
                        <img class="logo" src="{{site.baseurl}}/assets/images/coderslab.png"/>
                    </div><!--//meta-->

                </div><!--//item-->



                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                          <h3 class="job-title">Szkoła Główna Handlowa w Warszawie</h3>
                            <div class="time">2011-2013</div>
                        </div><!--//upper-row-->
                        <div class="company">Studia magisterskie, kierunek: Zarządznie</div>
                    </div><!--//meta-->
<img class="logo2" src="{{site.baseurl}}/assets/images/sgh.png"/>
                </div><!--//item-->





            </section><!--//skills-section-->
