<section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-rocket"></i>Umiejętności</h2>
                <div class="skillset">
                    <div class="item">
                        <h3 class="level-title">Python &amp; Django</h3> <p class="nowrap"><i class="fa fa-star"></i> <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                            <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i></p>

                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">Javascript &amp; jQuery</h3> <p class="nowrap"><i class="fa fa-star"></i> <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"> </i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i></p>

                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">MySQL</h3> <p class="nowrap"><i class="fa fa-star"></i> <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"> </i> <i class="fa fa-star-o"></i> </p>


                    </div><!--//item-->

                    <div class="item">
                        <h3 class="level-title">HTML5 &amp; CSS></h3> <p class="nowrap"><i class="fa fa-star"></i> <i class="fa fa-star"></i>
                           <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i> <i class="fa fa-star"></i>
                            <i class="fa fa-star-half-o"></i> <i class="fa fa-star-o"></i> <i class="fa fa-star-o"></i></p>

                    </div><!--//item-->



                </div>
            </section><!--//skills-section-->
