<section class="skills-section section">
                <h2 class="section-title"><i class="fa fa-graduation-cap"></i>Education</h2>


                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                            <h3 class="job-title">Coders Lab </h3>
                            <div class="time">2016-2017 </div>

                        </div><!--//upper-row-->
                        <div class="company">Junior Back-End Developer</div>
        

                    </div><!--//meta-->

                </div><!--//item-->



                <div class="item">
                    <div class="meta">
                        <div class="upper-row">
                          <h3 class="job-title">Warsaw School of Economics</h3>
                            <div class="time">2011-2013</div>
                        </div><!--//upper-row-->
                        <div class="company">Master's degree, Management, Marketing </div>
                    </div><!--//meta-->


                </div><!--//item-->





            </section><!--//skills-section-->
